<h1>Users (Admin access)</h1>
<div class="container row">
    <div class="col-md-6">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" >
        <td>{{user.userId}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.userType}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
      <p>Visit the Admin or Customer page to perform operations on them!</p>
</div>
</div>