<h1>Your Orders</h1>

<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Total Cost</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.orderId}}</td>
          <td>{{order.orderDate}}</td>
          <td>{{order.totalCost}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="viewOrder(order.orderId)">Show Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-view-order *ngIf="action === 'view'" [order]="selectedOrder"></app-view-order>
  </div>
</div>