<h1>Order Details</h1>

    <table>
        <tr>
            <td>Order Id</td>
            <td>{{order.orderId}}</td>
        </tr>
        <tr>
            <td>Order Date</td>
            <td>{{order.orderDate}}</td>
        </tr>
        <tr>
            <td colspan="2">Medicine List</td>
        </tr>
        <tr *ngFor="let medicine of order.medicineList">
            <td>Medicine Name</td>
            <td>{{medicine.medicineName}}+", "+{{medicine.medicineCost}}</td>
        </tr>
        <tr>
            <td>Order Cost</td>
            <td>{{order.totalCost}}</td>
        </tr>
        <tr>
            <td>Dispatch Date</td>
            <td>{{order.dispatchDate}}</td>
        </tr>
    </table>
    <br><br>

    <a class="btn btn-small btn-danger">delete</a>