<h1>Customers (Admin access)</h1>
<a class="btn btn-primary mb-3" (click)="addCustomer()">add</a>
<div class="container row">
    <div class="col-md-6">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers" >
        <td>{{customer.customerId}}</td>
        <td>{{customer.customerName}}</td>
        <td><button type="button" class="btn btn-primary" (click)="viewCustomer(customer.customerId)">Show Details</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-add-customer *ngIf="action === 'edit' || action === 'add'"  [customer]="selectedCustomer" (customerAddedEvent)="refreshData()"></app-add-customer>
    <app-view-customer *ngIf="action === 'view'" [customer]="selectedCustomer" (customerDeletedEvent)="refreshData()"></app-view-customer>
  </div>
</div>